.road {
  position: absolute;
  top: 65%;
  transform: translateY(-50%);
  width: 100%;
  height: 250px;
  background: #1c1c1c;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.car {
  width: 500px;
  position: absolute;
  left: 0;
}
